<h1>View Demo</h1>
dotnet aspnet-codegenerator controller -name StudentController -m Student -dc MvcMovie.Data.ApplicationDbContext --relativeFolderPath Controllers --useDefaultLayout --referenceScriptLibraries --databaseProvider sqlite